allow isolated_app app_data_file:file setattr;
allow isolated_app misctrl_prop:file read;
allow isolated_app tombstoned_crash_socket:sock_file write;
allow isolated_app userdebug_or_eng_prop:file read;
