allow untrusted_app sysfs_devices_block:file r_file_perms;
allow untrusted_app proc_tty_drivers:file r_file_perms;
allow untrusted_app proc_max_map_count:file r_file_perms;
allow untrusted_app proc_version:file r_file_perms;
allow untrusted_app selinuxfs:file r_file_perms;
allow untrusted_app proc_modules:file r_file_perms;
allow untrusted_app proc_net_tcp_udp:file r_file_perms;
allow untrusted_app proc_interrupts:file r_file_perms;
allow untrusted_app serialno_prop:file r_file_perms;
allow untrusted_app qemu_hw_prop:file r_file_perms;
allow untrusted_app proc:file r_file_perms;
allow untrusted_app qemu_sf_lcd_density_prop:file r_file_perms;
allow untrusted_app build_bootimage_prop:file r_file_perms;
allow untrusted_app userdebug_or_eng_prop:file r_file_perms;
allow untrusted_app media_rw_data_file:file { relabelfrom relabelto };
allow untrusted_app unlabeled:filesystem { getattr };
allow untrusted_app sysfs_batteryinfo:dir { search };
allow untrusted_app mnt_vendor_file:dir { search getattr };
allow untrusted_app sysfs:file { getattr read open };
allow untrusted_app sysfs_headset:file { getattr };
allow untrusted_app vendor_file:file { getattr };
allow untrusted_app sysfs_net:dir { search };
allow untrusted_app sysfs:dir { open read };
allow untrusted_app artd_exec:file { getattr };
allow untrusted_app debugfs_trace_marker:file { getattr };
allow untrusted_app default_android_service:service_manager find;
allow untrusted_app dex2oat_exec:file { getattr };
allow untrusted_app dexopt_chroot_setup_exec:file { getattr };
allow untrusted_app kernel:security read_policy;
allow untrusted_app linkerconfig_exec:file { getattr };
allow untrusted_app metadata_file:dir { getattr };
allow untrusted_app vm_data_file:dir { getattr };
allow untrusted_app proc_filesystems:file { getattr read };
allow untrusted_app proc_asound:dir { search };
allow untrusted_app proc_partition:file r_file_perms;
allow untrusted_app shell_test_data_file:dir { search };
allow untrusted_app cgroup:dir r_dir_perms;
allow untrusted_app configfs:dir r_dir_perms;
allow untrusted_app device:dir r_dir_perms;
allow untrusted_app init_exec:lnk_file r_file_perms;
allow untrusted_app rootfs:dir r_dir_perms;
allow untrusted_app file_contexts_file:file r_file_perms;
allow untrusted_app keystore2_key_contexts_file:file r_file_perms;
allow untrusted_app mac_perms_file:file r_file_perms;
allow untrusted_app sepolicy_file:file r_file_perms;
allow untrusted_app service_contexts_file:file r_file_perms;
allow untrusted_app system_bootstrap_lib_file:dir r_dir_perms;
allow untrusted_app system_perfetto_config_file:dir r_dir_perms;
